 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    /* 
    position
    كده يعني لما اعمل سكرول مش هينزل معايا هيفضل ثابت
    */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
} 
.logo{
    text-decoration: none;
    /* 
        text-decoration: none;
بيشيل الخط تحت اي لينك 
    */
    color: rgb(15, 15, 51);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8em;
}
.navigation a{
    color:blue ;
    font-weight: 400;
    font-size: 1.8em;
    text-decoration: none;
padding-left: 30px;
}
.navigation a:hover{
    color: black;
    /* hover mean when i touch the navigation list */
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat ;
    background-size: cover;
    /* 
    background-size: cover; 
    الشكل يكون مظبوط مش بايظ وكده

    */
    background-position: center center;
    background-attachment: fixed;
    /* 
    background-attachment: fixed;
    بيعمل افكت حلو لما اعمل سكرول
    */

}
.main h2{
color: azure;
font-size: 1.em;
font-weight: 100;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(210, 216, 220);
    font-weight: 200;
    font-size: 1.8em;
}
.main h3{
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-btn{
    color: white;
    background-color: rgba(0, 102, 255, 0.864);
    text-decoration: none;
    font-size: 1.em;
    font-weight: 300px;
    display: inline-block;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 16px;
    margin-bottom: 40px;
    transition: 0.7 ease;
}
.main-btn:hover{
    background-color:rgba(31, 99, 188, 0.864);
   
    transform: scale(1.1); 

    /*
        transform: scale(1.1);
يعني يكبر اكبر من حجمه بنسبه 1.1
بتاخد احداثيات اكس و واي وممكن ياخد رقم واجد    
*/

}
.social-icons a{
    color: white;
    font-size: 100px;
    padding-right: 10px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(4, 55, 100);
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    background-color: azure;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    /* box shadow
    first value the shadow up ar down and the second value the 
    shadow right or left
    left with negative value and right with positive value

    */
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 2.11s ease-in;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: rgba(6, 50, 172, 0.919);
    font-size: 4em;
     text-align:center ;
}
.info{
    text-align: center;
}
.info h3{
    font-size: 1em;
    margin: 10px;
    color: rgba(6, 50, 172, 0.919);
}
.projects{
    background-color: rgb(0, 0, 0);
}
.projects .content{
    margin-top: 30;
}

.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 10em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    transition: 1.8s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-img img{
    width: 100%;
}
.project-card:hover .project-img{
opacity: 0.9;
}
.project-info{
    padding: 0.5em;
}
.project-cat{
    font-size: 0.8em;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: rgb(8, 63, 246);
}
.more-details:hover{
    color: blueviolet;
}
.cards-contacts.icon{
    font-size: 4em;

}
.cards-contacts.info{
color: black;
}
.cards-contacts.info.p{
    font-size: 16em;
}
.footer{
    background-color: black;
    color: azure;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 25px;
}
.footer-title span{
    color: rgb(0, 145, 255);
}
/* @media(max-width:1023px){
    header{
       padding:  12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{

    }
} */